@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --main-color: #f2f4f4;
    --entry-color: white;
    --text-color: #343434;
    --shadow-color: lightgray;
    --accent-pale: #edbde4;
    --accent-strong: #d467bf;
    --grid-gap: 1em;
    --border-radius: 1em;
    --page-width: 70%
}

body{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-color);
}

form{
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(3, 0.33fr);
    grid-row-gap: var(--grid-gap);
    grid-column-gap: var(--grid-gap);
    width: var(--page-width);
    margin: 0 auto;

}

#two_dates_picker{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="date"], button{
    background-color: var(--accent-pale);
    border-radius: var(--border-radius);
    border: 0.3em solid var(--accent-strong);
    padding: 0 0.5em 0 0.5em;
}

#results {
    width: var(--page-width);
    margin: 0 auto;
    overflow-y: auto;
    height: 60vh;
    padding: 3%;
}

.entry{
    box-shadow: 0 0 var(--border-radius) var(--shadow-color);
    border-radius: var(--border-radius);
    margin: calc(2*var(--grid-gap)) 0 calc(2*var(--grid-gap)) 0;
    padding: var(--border-radius);
    background-color: var(--entry-color);
}

.imagelist{
    overflow:auto;

}
.imagelist > ul{
    display:block;
    float:left;
}

.flights > img,
.imagelist > img{
    float:right;
    width:16em;
    height:9em;
    background-color: var(--accent-pale); /*for debug purposes only*/
    border-radius: var(--border-radius);
    clip-path: border-box;
    object-fit:cover;
    content: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d5aabe64-92fe-4491-831f-e2d4453adcd2/d60ferc-82784920-3305-4c4e-b1ee-b52d736a6de4.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q1YWFiZTY0LTkyZmUtNDQ5MS04MzFmLWUyZDQ0NTNhZGNkMlwvZDYwZmVyYy04Mjc4NDkyMC0zMzA1LTRjNGUtYjFlZS1iNTJkNzM2YTZkZTQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FTGYlVrHV58Wr6m7ixtff5bwhwcLuGZeWoBoMg8ST4M");
}



.entry_heading > h3{
    display: inline-block;
}

.entry_heading {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.entry_heading > * {
    margin: 0;
    display: inline-block;
}

#elaborate_view{
    box-shadow: 0 0 var(--border-radius) var(--shadow-color);
    border-radius: var(--border-radius);
    width: var(--page-width);
    margin: 0 auto;
    padding: var(--border-radius);
}

.last_row_entry{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    margin-top: var(--grid-gap);
    align-items: center;
    justify-items: center;
}

.last_row_entry > button {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 60%;
}

.price {
    font-weight: 600;
}

.price::before{
    content: "\20ac"
}

.date_start::before{
    background-image: url("../resources/takeoff-the-plane.png");
    display:inline-block;
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    content: "";
}

.date_end::before{
    background-image: url("../resources/plane-landing.png");
    display:inline-block;
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    content: "";
}

.number_of_days::before{
    background-image: url("../resources/wall-clock.png");
    display:inline-block;
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    content: "";
}

.flights > ul{
    width: 60%;
    display: block;
}

.flights{
    overflow:auto;
}

.connecting {
    background-image: url("../resources/planes-circling.png");
    display:inline-block;
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    content: "";
}