@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --main-color: white;
    --text-color: #343434;
    --accent-pale: #edbde4;
    --accent-strong: #d467bf;
    --grid-gap: 1em;
    --border-radius: 1em;
}

body{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

form{
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(3, 0.33fr);
    grid-row-gap: var(--grid-gap);
    grid-column-gap: var(--grid-gap);
    width: 70%;
    margin: 0 auto;

}

#two_dates_picker{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="date"]{
    background-color: var(--accent-pale);
    border-radius: var(--border-radius);
    border: 0.3em solid var(--accent-strong);
    padding: 0 0.5em 0 0.5em;
}
