@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --main-color: white;
    --text-color: #343434;
    --shadow-color: lightgray;
    --accent-pale: #edbde4;
    --accent-strong: #d467bf;
    --grid-gap: 1em;
    --border-radius: 1em;
    --page-width: 70%
}

body{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

form{
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(3, 0.33fr);
    grid-row-gap: var(--grid-gap);
    grid-column-gap: var(--grid-gap);
    width: var(--page-width);
    margin: 0 auto;

}

#two_dates_picker{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="date"]{
    background-color: var(--accent-pale);
    border-radius: var(--border-radius);
    border: 0.3em solid var(--accent-strong);
    padding: 0 0.5em 0 0.5em;
}

#results {
    width: var(--page-width);
    margin: 0 auto;
    overflow-y: auto;
    height: 60vh;
    padding: 3%;
}

.entry{
    box-shadow: 1em 1em var(--border-radius) var(--shadow-color);
    border-radius: var(--border-radius);
    margin: calc(2*var(--grid-gap)) 0 calc(2*var(--grid-gap)) 0;
    
}

.entry > h3{
    display: inline;
}

.imagelist{
    overflow:auto;
    width: 97%;
    margin: 0 auto ;
}
.imagelist > ul{
    display:block;
    
    float:left;
}

.imagelist > img{
    float:right;
    width:16em;
    height:9em;
    background-color: var(--accent-pale); /*for debug purposes only*/
    border-radius: var(--border-radius);
    clip-path: border-box;
    object-fit:cover;
}
